
*.Debug
build-Nivel_2-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/Makefile.Release
build-Nivel_2-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/Makefile.Debug
build-Nivel_2-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/debug/proyectil_personaje.o
build-Nivel_2-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/debug/Nivel_2.exe
build-Nivel_2-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/debug/moc_proyectil_personaje.o
build-Nivel_2-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/debug/moc_mainwindow.o
build-Nivel_2-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/debug/mainwindow.o
build-Nivel_2-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/debug/main.o
*.Release
*.Debug
build-Nivel_2-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/usersuserappdatalocaltemptmpf2zjli
build-Nivel_2-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/Makefile.Release
build-Nivel_2-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/Makefile.Debug
build-Nivel_2-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/debug/qrc_sprites.o
build-Nivel_2-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/debug/qrc_sprites.cpp
build-Nivel_2-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/debug/proyectil_personaje.o
build-Nivel_2-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/debug/personaje.o
build-Nivel_2-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/debug/Nivel_2.exe
build-Nivel_2-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/debug/moc_proyectil_personaje.o
build-Nivel_2-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/debug/moc_proyectil_personaje.cpp
build-Nivel_2-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/debug/moc_personaje.o
build-Nivel_2-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/debug/moc_personaje.cpp
build-Nivel_2-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/debug/moc_mainwindow.o
build-Nivel_2-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/debug/moc_mainwindow.cpp
build-Nivel_2-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/debug/moc_enemigos.o
build-Nivel_2-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/debug/mainwindow.o
build-Nivel_2-Desktop_Qt_5_15_2_MinGW_64_bit-Debug/debug/enemigos.o
